.chat-header{
    position: fixed;
    top: 150px;
    background-color: #ECEEF2;
}
.chats{
    margin-top: 50px;
}
.contactList{
    display: flex;
    flex-direction: column;

}
.user-profile{
    border-radius: 50%;
    float: left;
    background-color: gray;
    padding: 1px;
    margin: 2px;
    margin-bottom: 10px;
}
.user-chat{
    border-radius: 50%;
    float: left;
    background-color: gray;
    padding: 1px;
    margin: 2px;
}
.user-image{
    display: flex;
    align-items: center;
}
.contact-main{
    display: flex;
    justify-content: space-between;

}
.contact-name p{ margin-bottom: 0px;}
.chat-name{
    display: flex;
    flex-direction: column;
}
.chat-time{
    font-size: 10px;
}
.last-chat{
    display: flex;
    align-items: center;
    font-size: 12px;
    opacity: 0.7;
    justify-content: space-between;
}
.chat-wrapper{
    padding:10px 0px;
    overflow-y: scroll;
    background-color: #FFFFFF;
}