.card.login {
  margin: 0;
  margin-left: 3%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid green;
  padding: 10px;
  box-shadow: 10px 15px 46px black;
}

@media screen and (max-width: 768px) {
  .card.login {
    position: relative !important;
    margin: 0 auto !important;
  }
  .login-container {
    margin-top: 33.33% !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #204353;
  transition: 0.5s;
} */

