
.card.login{
    margin: 0;
    margin-left: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid green;
    padding: 10px;
    box-shadow: 10px 15px 46px black;

}

@media screen and (max-width: 768px){
    .card.login{
        position: relative !important;
        margin: 0 auto !important;
    }
    .login-container{
        margin-top: 33.33%!important;
    }
}

  